body {
    background-color: rgb(247,247,247);
};

.HeaderColumn {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
};

.PageProfile {
    margin-top: 18rem !important;
    font-size: 4em !important;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    color: white !important;
};

.ErrorSegment {
    border: 1px solid red !important;
    color: red !important;
};