body {
    background-color: rgb(247,247,247);
};

.HeaderColumn {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
};

.PageProfile {
    margin-top: 18rem !important;
    font-size: 4em !important;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    color: white !important;
};

.ErrorSegment {
    border: 1px solid red !important;
    color: red !important;
};

.ProfileHeader {
    font-size: 15px !important;
    font-family: 'PT Serif','Noto Sans Armenian','Noto Sans Bengali','Noto Sans Cherokee','Noto Sans Devanagari','Noto Sans Ethiopic','Noto Sans Georgian','Noto Sans Hebrew','Noto Sans Kannada','Noto Sans Khmer','Noto Sans Lao','Noto Sans Osmanya','Noto Sans Tamil','Noto Sans Telugu','Noto Sans Thai',serif !important;

};